body {
	background-color: #000;
}

.main-title {
	text-align: center;
	text-shadow:
  	1px  1px     #FFEB00, 
  	-1px  1px     #FFEB00, 
    1px -1px     #FFEB00, 
    -1px -1px     #FFEB00,
    1px  1px 5px #FFEB00;

	;
}

.select-div {
	text-align: center;
}

#planet-select {
	font-size: 1.1em;
	outline: none;
	margin-bottom: 1em;
}

option {

}

#data {
	display: none;
	width: 90%;
	margin: 0 auto;
	background-color: #fff;
	border: 1px solid #000;
	border-radius: 1em;
}

h3 {
	text-align: center;
	font-size: 2em;
	margin: 0.5em;
}

h5 {
	text-align: center;
	font-size: 1.3em;
	margin: 0.9em 0;
}

.planet-data {
	text-align: center;
}